.medicine-color-title {
  padding: 30px;
  padding-top: 0px;
  padding-left: 80px;
  font-size: large;
  font-weight: bold;
  background-color: #e5e5e5;
}

.medicine-color-group-box {
  background-color: #e5e5e5;
  height: 160px;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.medicine-color-group {
  list-style: none;
}

.medicine-color-group li {
  float: left;
  margin: 0 30px;
}

.medicine-color-bottom {
  background-color: #e5e5e5;
  height: 70px;
}

.medicine-color-bottom img {
  margin-top: 15px;
  margin-left: 40px;
}

.medicine-color-bottom img:hover {
  cursor: pointer;
}
