.medicine-serach-item {
  border: 2px black;
  border-radius: 10px;
  padding: 15px;
  border-style: solid;
}

.medicine-serach-item:hover {
  cursor: pointer;
}

.medicine-serach-item-text {
  margin-top: 7px;
  background-color: #e5e5e5;
  text-align: center;
  cursor: pointer;
}
