.medicine-serach-item {
  margin: 0 36px;
  padding: 10px;
  border: 1px solid #e5e5e5;
}

.medicine-serach-item:hover {
  border: 1px solid #0DADEA;
}

.medicine-serach-item:hover {
  cursor: pointer;
}

.medicine-serach-item-text {
  text-align: center;
  cursor: pointer;
}

.medicine-serach-item-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
}

.medicine-search-img {
  width: 80%;
}