.medicine-identifier-title {
  padding: 30px;
  padding-top: 0px;
  padding-left: 80px;
  font-size: large;
  font-weight: bold;
  background-color: #e5e5e5;
}

.medicine-identifier-group-box {
  background-color: #e5e5e5;
  height: 60px;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.medicine-identifier-group {
  list-style: none;
}

.medicine-identifier-group li {
  float: left;
  margin: 0 30px;
}

.medicine-identifier-bottom {
  background-color: #e5e5e5;
  height: 70px;
}

.medicine-identifier-bottom img {
  margin-top: 15px;
  margin-left: 40px;
}

.medicine-identifier-bottom img:hover {
  cursor: pointer;
}

.medicine-identifier-input {
  width: 220px;
}
