/* UI Object */

.medicine-list-group-box {
  background-color: gray;
  justify-content: center;
}

.medicine-list-type {
  overflow: hidden;
  width: 500px;
  padding: 0 10px 10px;
  /*border: 1px solid #c2c2c2;*/
}
.medicine-list-type li {
  overflow: hidden;
  clear: both;
  margin: 10px 0 0;
  color: #2d2c2d;
  font-family: "돋움", Dotum;
  font-size: 12px;
  line-height: 14px;
  list-style: none;
}
.medicine-list-type li img {
  display: inline;
  float: left;
  margin: 0 10px 0 0;
  border: none;
}
.medicine-list-type li a {
  color: #2d2c2d;
  text-decoration: none;
}
.medicine-list-type li a:hover {
  text-decoration: underline;
}
/* //UI Object */
