.covid-container {
  width: 1120px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  flex-direction: column;
}

.today-covid {
  width: 540px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.covid-2container {
  display: flex;
  flex-direction: row;
  width: 1120px;
  justify-content: space-between;
  margin-bottom: 60px;
}

.covid-oneline {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  border-radius: 10px;
  width: 100%;
  margin-bottom: 50px;
}

.sedays-btn {
  border: 0;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  margin: 5px;
  border-radius: 10px;
  padding: 8px 10px;
}

.thdays-btn {
  border: 0;
  background: white;
  font-size: 16px;
  font-weight: 600;
  margin: 5px;
  border-radius: 10px;
  padding: 8px 10px;
  color: #06beb6;
  cursor: pointer;
}

.covid-btn-container {
  background: #f5f5f5;
  margin: 20px;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  width: 130px;
  justify-content: center;
}


.covid-main-title {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  border-radius: 10px;
  width: 1080px;
  margin-bottom: 100px;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.covid-main-title :first-child {
  color: #808080;
  margin: 0;
  font-size: 16px;
  font-weight: 600;
}

.covid-main-title :nth-child(2) {
  color: #06beb6;
  margin: 0;
  font-size: 26px;
  font-weight: 800;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.covid-main-title :nth-child(2) span {
  font-size: 24px;
}

.covid-up {
  background: #FDEAEE;
  color: #EB5374 !important;
  padding: 5px;
  font-size: 18px !important;
  font-weight: 700 !important;
  border-radius: 10px;
  margin-left: 10px !important;
}

.covid-down {
  background: #EFF2FF;
  color: #5673EB !important;
  padding: 5px;
  font-size: 18px !important;
  font-weight: 700 !important;
  border-radius: 10px;
  margin-left: 10px !important;
}