.disease-group {
  display: flex;
  justify-content: center;
  width: 100%;
}

.d-symptom-group {
  margin-bottom: 80px;
}

.to-top {
  position: fixed;
  right: 5%;
  bottom: 5%;
  border: 0;
  background: none;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
  font-family: "lemon-font";
}
