.home-page {
  display: flex;
}

.h-main {
  display: flex;
  width: 65%;
  height: 100vh;
  position: sticky;
  top: 0;
}

.logo-container {
  position: relative;
  top: 100px;
  left: 15%;
  z-index: -1;
}

.team-logo {
  margin: 0;
  height: 80px;
  margin-bottom: 10px;
}

.logo-description {
  margin: 0 40px;
  font-size: 16px;
  font-weight: bold;
  color: rgb(119, 119, 119);
}

.team {
  position: absolute;
  margin: 0;
  bottom: 20px;
  left: 20px;
  font-size: 12px;
}

.home-mouse {
  padding-top: 60px;
}

.home-mouse span {
  position: absolute;
  top: 60%;
  left: 95%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid black;
  border-radius: 50px;
  box-sizing: border-box;
}
.home-mouse span::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: "";
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: black;
  border-radius: 100%;
  -webkit-animation: sdb 2s infinite;
  animation: sdb 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
