.home-page {
  display: flex;
}

.h-main {
  display: flex;
  width: 70%;
  height: 100vh;
  position: sticky;
  top: 0;
}

.h-nav {
  width: 80px;
  height: 100vh;
  position: sticky;
  top: 0;
}

.team-logo {
  font-size: 75px;
  font-weight: bold;
}

.team {
  position: absolute;
  margin: 0;
  bottom: 20px;
  left: 20px;
  font-size: 12px;
}