#map {
  width: 100vw;
  height: 100vh;
}

.hos-home {
  background: black;
  color: white;
  width: 10vw;
  position: absolute;
  z-index: 2;
  cursor: pointer;
  height: 5vh;
  text-align: center;
  bottom: 0;
}

.hos-list {
  position: absolute;
  background: blue;
  z-index: 2;
  width: 20vw;
  height: 98vh;
  right: 1vw;
  top: 1vh;
}
