.medi-home {
  background: black;

  color: white;
  width: 7vw;
  position: absolute;
  cursor: pointer;
  height: 5vh;
  text-align: center;
  bottom: 0;
}

.medi-right {
  position: absolute;
  z-index: 2;
  background: rgb(215, 215, 255);
  width: 15vw;
  height: 100vh;
  right: 0;
  top: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}

.medi-right::-webkit-scrollbar {
  width: 0px;
}
.medi-left {
  position: absolute;
  z-index: 2;
  background: rgb(150, 150, 245);
  width: 7vw;
  height: 100vh;
  left: 0;
  top: 0;
}

.medi-search {
  background: rgb(211, 160, 65);
  width: 7vw;
  height: 5vh;
  cursor: pointer;
}

.medi-center1 {
  position: absolute;
  z-index: 2;
  background: rgb(100, 218, 100);
  width: 30vw;
  height: 5vh;
  left: 50%;
  top: 5%;
  transform: translate(-50%, 0%);
}

.medi-bottom {
  position: absolute;
  z-index: 2;
  background: #e5e9ff;
  width: 60vw;
  height: 5vh;
  left: 47%;
  bottom: 5%;
  transform: translate(-50%, 0%);
  overflow: hidden;
  border-radius: 10px;
  vertical-align: middle;
  border: 1px solid;
}

.medi-menu {
  position: absolute;
  z-index: 2;
  background: #e5e9ff;
  width: 25vw;
  height: 20vh;
  left: 65%;
  bottom: 10%;
  transform: translate(-50%, 0%);
  border-radius: 10px;
  border: 1px solid;
}

.medi-bottom-menu-first-item {
  width: 14%;
  height: 100%;
  float: left;
  background-color: #e5e9ff;
  cursor: pointer;
  border-right: 1px solid;
  display: flex;
  align-items: center; /* 수직 정렬 */
  flex-direction: row; /* default: row */
  justify-content: center; /* flex direction에 대해서 정렬방식 선택 */
}

.medi-bottom-menu-first-item img {
  margin-right: 8px;
}

.medi-bottom-menu-item {
  width: 17%;
  height: 100%;
  float: left;
  background-color: #e5e9ff;
  cursor: pointer;
  border-right: 1px solid;
  display: flex;
  align-items: center; /* 수직 정렬 */
  flex-direction: row; /* default: row */
  justify-content: center; /* flex direction에 대해서 정렬방식 선택 */
}

.medi-bottom-menu-item img {
  margin-right: 8px;
}

.medi-bottom-menu-last-item {
  width: 16%;
  height: 100%;
  float: left;
  background-color: #e5e9ff;
  cursor: pointer;
  display: flex;
  align-items: center; /* 수직 정렬 */
  flex-direction: row; /* default: row */
  justify-content: center; /* flex direction에 대해서 정렬방식 선택 */
}

.medi-bottom-menu-last-item img {
  margin-left: 13px;
}
