.medicine-info-page {
  width: 1120px;
  margin: 0 auto;
}

.p-flex {
  display: flex;
  align-items: center;
}

.medicine-info-title {
  padding: 15px 25px;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #d0d7fd;
  width: 1070px;
  height: 40px;
}

.medicine-icon {
  width: 40px;
}

.refresh-icon {
  width: 30px;
  cursor: pointer;
}

.medicine-title {
  font-size: 20px;
  font-weight: bold;
  margin: 0 10px;
}

.medicine-info-step {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  background-color: #e5e5e5;
}

.medicine-step {
  font-weight: bold;
  margin: 0;
}

.medicine-progress {
  font-weight: bold;
  margin: 0;
}