.h-scroll {
  width: 750px;
  border-left: 1px solid rgba(141, 141, 141, 0.4);
  border-right: 1px solid rgba(141, 141, 141, 0.4);
  margin-right: 80px;
}

.h-menu-num {
  margin: 50px 0 0 0;
  text-align: end;
  font-family: "roboto";
  font-size: 80px;
  font-weight: 1000;
  color: rgb(201, 201, 201);
}

.h-menu-box {
  display: flex;
  justify-content: end;
  align-items: end;
  padding: 20px;
  width: 480px;
  height: 380px;
  background: linear-gradient(to right bottom, #0dadea, #64cada);
  background-size: cover;
  transition: 0.5s ease;
}

.h-menu-box:hover {
  width: 500px;
}

.h-menu-box:hover p {
  color: black;
}

.h-move-title {
  font-size: 25px;
  font-weight: bold;
  color: white;
  margin: 0;
}

.h-move-to {
  font-size: 15px;
  margin: 0 0 0 10px;
  color: white;
}

.home-medical {
  display: flex;
  justify-content: end;
  transition: 0.5s ease;
}

.home-medicine {
  display: flex;
}

.home-disease {
  display: flex;
  justify-content: end;
}

.home-covid {
  display: flex;
}

.h-menu-l-description {
  margin: 10px 0 50px 0;
  font-size: 35px;
  font-weight: bold;
  color: rgb(100, 100, 100);
}

.h-menu-r-description {
  margin: 10px 0 50px 0;
  text-align: right;
  font-size: 35px;
  font-weight: bold;
  color: rgb(100, 100, 100);
}

.h-menu-lside-description {
  writing-mode: vertical-lr;
  text-align: end;
  margin: 0 10px 105px 0;
  font-size: 35px;
  font-weight: bold;
  color: rgb(100, 100, 100);
}

.h-menu-rside-description {
  writing-mode: vertical-lr;
  text-align: end;
  margin: 0 0 105px 10px;
  font-size: 35px;
  font-weight: bold;
  color: rgb(100, 100, 100);
}
