.h-m-container {
  display: flex;
  align-items: center;
  height: 100%;
}

.h-m-menu-list p {
  position: absolute;
  margin: 0;
  font-weight: bold;
  cursor: pointer;
}

.h-m-medical {
  color: #0DADEA;
  top: 485px;
  left: 100px;
}

.h-m-medicine {
  top: 525px;
  left: 80px;
}

.h-m-disease {
  top: 565px;
  left: 60px;
}

.h-m-covid {
  top: 605px;
  left: 40px;
}

.h-m-now-menu {
  position: absolute;
  top: 50%;
  left: 100px;
  width: 150px;
  height: 20px;
  border-top: solid 1px;
  border-bottom: solid 1px;
  z-index: -1;
}

/* Animation */
.h-m-translate {
  transition: all .5s ease;
}
/* Medical */
.medical-up-1 {
  transform: translate(-20px, -40px);
  color: black;
}

.medical-up-2 {
  transform: translate(-40px, -80px);
}

.medical-up-3 {
  transform: translate(-60px, -120px);
}
/* Medicine */
.medicine-up-1 {
  transform: translate(20px, -40px);
  color: #0DADEA;
}

.medicine-up-2 {
  transform: translate(0, -80px);
  color: black;
}

.medicine-up-3 {
  transform: translate(-20px, -120px);
}

/* Disease */
.disease-up-1 {
  transform: translate(20px, -40px);
}

.disease-up-2 {
  color: #0DADEA;
  transform: translate(40px, -80px);
}

.disease-up-3 {
  transform: translate(20px, -120px);
  color: black;
}
/* Covid */
.covid-up-1 {
  transform: translate(20px, -40px);
}

.covid-up-2 {
  transform: translate(40px, -80px);
}

.covid-up-3 {
  color: #0DADEA;
  transform: translate(60px, -120px);
}