.hos-list-container {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  padding: 20px;
  cursor: pointer;
  margin-bottom: 20px;
  background: rgb(247, 247, 247);
  height: 250px;
}

.hos-list-container-selected {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  padding: 20px;
  cursor: pointer;
  margin-bottom: 20px;
  background: rgb(247, 247, 247);
  height: 250px;
}

.hos-title-sub {
  margin: 0;
  border-radius: 5px;
  background: rgb(172, 172, 172);
  cursor: default;
  color: aqua;
  border: 0;
}
.medi-list-container img {
  width: 25px;
}
.hos-list-name {
  font-size: 18px;
  font-weight: 800;
  margin: 0;
}

.hos-list-code {
  font-size: 16px;
  margin: 5px 0;
}

.hos-list-subject {
  font-size: large;
  margin: 5px 0;
}

.hos-list-openornot {
  font-size: large;
  margin: 5px 0;
}

.hos-list-address {
  font-size: 13px;
  font-weight: 600;
  margin: 0;
  color: rgb(133, 133, 133);
}
.hos-list-address span {
  color: #48b1bf;
  margin-right: 3px;
}
.hos-list-tel {
  font-size: large;
  margin: 5px 0;
}

.hos-list-distance {
  font-size: large;
  margin: 5px 0;
}

.medi-pagi {
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

ul {
  list-style: none;
  padding: 0;
}

ul.pagination li {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid #e2e2e2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

ul.pagination li:first-child {
  border-radius: 5px 0 0 5px;
}

ul.pagination li:last-child {
  border-radius: 0 5px 5px 0;
}

ul.pagination li a {
  text-decoration: none;
  color: #337ab7;
  font-size: 1rem;
}

ul.pagination li.active a {
  color: white;
}

ul.pagination li.active {
  background-color: #337ab7;
}

ul.pagination li a:hover,
ul.pagination li a.active {
  color: blue;
}

.page-selection {
  width: 48px;
  height: 30px;
  color: #337ab7;
}