.medical-subject-menu {
  position: absolute;
  z-index: 2;
  background: rgb(247, 247, 247);
  width: 40vw;
  height: 40vh;
  left: 30vw;
  bottom: 8vh;
  border-radius: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 6px 1px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.medical-subject-group-box {
  height: 90px;
  display: flex;
  justify-content: center;
}

.medical-subject-group {
  list-style: none;
  display: flex;
  padding: 0 10px;
  width: 100%;
}
