.medical-code-menu {
  position: absolute;
  z-index: 2;
  background: rgb(247, 247, 247);
  width: 40vw;
  height: 16vh;
  left: 21.6666vw;
  bottom: 11vh;
  border-radius: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 6px 1px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.medical-code-group-box {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.medi-code-container {
  height: 100%;
  width: 100%;
}
