.medical-code-item {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
  cursor: pointer;
  border-bottom: 1px solid rgba(61, 61, 61, 0.2);
  border-width: 50%;
  border-right: 1px solid rgba(61, 61, 61, 0.2);
}

.medical-code-item-selected {
  background: #06beb6;
  border-bottom: 1px solid rgba(61, 61, 61, 0.2);
  border-right: 1px solid rgba(61, 61, 61, 0.2);
  transition: 0.2s;
  color: white;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.medical-code-item p {
  margin: 0;
}

.medical-code-item:hover {
  background: #06beb6;
  font-weight: 600;
  color: white;
}

.medical-code-item-img {
}

.medical-code-img {
}