.medical-code-menu {
  position: absolute;
  z-index: 2;
  background: #e5e9ff;
  width: 53vw;
  height: 22vh;
  right: 33%;
  bottom: 12%;
  border-radius: 10px;
  border: 1px solid;
}

.medical-code-group-box {
  height: 90px;
  display: flex;
  justify-content: center;
}

.medical-code-group {
  list-style: none;
  display: flex;
  padding: 0 10px;
  width: 100%;
}
