.hos-list-container {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  margin-bottom: 20px;
  background: rgb(247, 247, 247);
  height: 300px;
}

.hos-list-container-selected {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  margin-bottom: 20px;
  background: rgb(247, 247, 247);
  height: 300px;
}

.hos-list-name {
  font-size: x-large;
  margin: 5px 0;
}

.hos-list-code {
  font-size: large;
  margin: 5px 0;
}

.hos-list-subject {
  font-size: large;
  margin: 5px 0;
}

.hos-list-openornot {
  font-size: large;
  margin: 5px 0;
}

.hos-list-address {
  font-size: large;
  margin: 5px 0;
}

.hos-list-tel {
  font-size: large;
  margin: 5px 0;
}

.hos-list-distance {
  font-size: large;
  margin: 5px 0;
}

.medi-pagi {
}