.medical-subject-menu {
  position: absolute;
  z-index: 2;
  background: #e5e9ff;
  width: 48vw;
  height: 40vh;
  right: 25%;
  bottom: 13%;
  /* transform: translate(-50%, 0%); */
  border-radius: 10px;
  border: 1px solid;
}

.medical-subject-group-box {
  height: 90px;
  display: flex;
  justify-content: center;
}

.medical-subject-group {
  list-style: none;
  display: flex;
  padding: 0 10px;
  width: 100%;
}
