.medical-subject-item {
  margin: 0 10px;
  padding: 10px;
  border: 1px solid #e5e5e5;
  transition: .5s ease;
}

.medical-subject-item-selected {
  margin: 0 10px;
  padding: 10px;
  border: 1px solid #973232;
  transition: .5s ease;
}

.medical-subject-item p {
  margin: 0;
}

.medical-subject-item:hover {
  border: 1px solid #0DADEA;
  transform: scale(1.1);
}

.medical-subject-item:hover p {
  color: #0DADEA;
  font-weight: bold;
}

.medical-subject-item:hover {
  cursor: pointer;
}

.medical-subject-item-text {
  text-align: center;
  cursor: pointer;
}

.medical-subject-item-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

.medical-subject-img {
  width: 80%;
}