.bodypart-container {
  margin-top: 30px;
  overflow: hidden;
}
.part-group-box {
  overflow: hidden;
}
.body-part-group {
  list-style: none;
  padding: 0;
  width: 1120px;
}

.body-part-group li {
  float: left;
}

.part-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  background-color: rgba(44, 44, 44, 0.5);
  border: 0;
  width: 112px;
  cursor: pointer;
  transition: 0.2s;
  color: white;
  font-family: "lemon-font";
}

.part-btn:hover {
  background-color: rgba(0, 38, 255, 0.9);
}

.part-btn p {
  margin: 0 0 0 13px;
  letter-spacing: 2px;
  font-size: 12px;
  font-weight: 700;
}

.selected-part {
  background-color: rgba(0, 38, 255, 0.8);
}
