.disease-list-container {
  background: rgb(247, 247, 247);
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  color: #5c5c5c;
}

.disease-list {
  width: 1120px;
  background: rgb(247, 247, 247);
  margin: 30px 0;
}

.disease-box {
  border: solid 1px black;
  padding: 10px;
  height: 350px;
}

.disease-item {
  display: flex;
  align-items: center;
}

.disease-name {
  font-size: 18px;
  font-weight: bold;
  margin: 20px 0 0 0;
}

.disease-img {
  width: 350px;
  height: 350px;
  background-image: url(../../../public/gamgi.jpg);
  background-size: cover;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  align-self: center;
}

.list-title-box {
  display: flex;
}

.item-title-blue {
  width: 3px;
  height: 16px;
  background-color: blue;
  margin: 13px 5px 0 0;
}

.list-title {
  margin: 10px 0 5px 0;
  font-weight: bold;
  font-size: 15px;
}

.detail-list {
  display: flex;
}

.detail-item-list {
  display: flex;
  padding-left: 10px;
}

.detail-item-list * {
  margin: 0 10px 10px 0;
  font-size: 14px;
}

.popup-btn {
  margin: 20px 0 0 10px;
}

.related-disease:hover {
  cursor: pointer;
}
