.disease-list-container {
  background: rgb(247, 247, 247);
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  color: #5c5c5c;
}

.disease-list {
  width: 1120px;
  background: rgb(247, 247, 247);
  margin: 100px 0;
}

.disease-box {
  background: white;
  border-radius: 5px;
  padding: 2%;
  height: 280px;
  margin: 30px 0;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

.disease-content {
  border: 1px solid black;
  height: 96%;
  width: 70%;
  overflow: hidden;
  margin-left: 5%;
}
.disease-item {
  display: flex;
  align-items: center;
}

.detail-list {
  display: flex;
}

.disease-name {
  font-size: 28px;
  font-weight: bold;
  margin: 20px 0 0 0;
}

.disease-img {
  width: 25%;
  height: 96%;
  background-image: url(../../../public/gamgi.jpg);
  background-size: cover;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  align-self: center;
  
}

.list-title-box {
  display: flex;
}

.item-title-blue {
  width: 3px;
  height: 16px;
  background-color: blue;
  margin: 13px 5px 0 0;
}

.list-title {
  margin: 10px 0 5px 0;
  font-weight: bold;
  font-size: 15px;
}

.detail-item-list {
  display: flex;
  padding-left: 10px;
}

.detail-item-list * {
  margin: 0 10px 10px 0;
  font-size: 14px;
}

.popup-btn {
  margin: 20px 0 0 10px;
}

.related-disease:hover {
  cursor: pointer;
}
