.disease-list {
  width: 1100px;
  background: white;
  padding: 10px;
  margin: 30px 0;
  box-shadow: rgba(60, 64, 67, 0.2) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.1) 0px 2px 6px 2px;
  border-radius: 5px;
}

.disease-box {
  border-bottom: solid 1px black;
  margin-top: 10px;
}

.disease-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.disease-name {
  font-size: 18px;
  font-weight: bold;
  margin: 20px 0 0 0;
}

.disease-img {
  margin-top: 40px;
  width: 500px;
  height: 230px;
  background-color: gray;
  cursor: pointer;
}

.list-title-box {
  display: flex;
}

.item-title-blue {
  width: 3px;
  height: 16px;
  background-color: blue;
  margin: 13px 5px 0 0;
}

.list-title {
  margin: 10px 0 5px 0;
  font-weight: bold;
  font-size: 15px;
}

.detail-list {
  display: flex;
}

.detail-item-list {
  display: flex;
  padding-left: 10px;
}

.detail-item-list * {
  margin: 0 10px 10px 0;
  font-size: 14px;
}

.popup-btn {
  margin: 20px 0 0 10px;
}

.related-disease:hover {
  cursor: pointer;
}
