.symptom-group-box {
  margin-bottom: 10px;
  padding: 5px;
  width: 1110px;
  box-shadow: rgba(60, 64, 67, 0.2) 0px 1px 3px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  overflow-y: scroll;
  height: 400px;

}
.symptom-group-box::-webkit-scrollbar {
  width: 0px;
}
.symptom-btn {
  box-shadow: rgba(60, 64, 67, 0.1) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.05) 0px 2px 3px 2px;
  box-shadow: 1px 1px 3px 1px #dadce0;
  background: #fdd7aa;
  color: #5c5c5c;
  font-family: "lemon-font";
}

.symptom-btn:hover {
  background-color: #ffa8a8;
  box-shadow: 1px 1px 3px 1px #dadce0 inset;
  color: white;
}

.selected-symptom {
  box-shadow: 1px 1px 3px 1px #dadce0 inset;
  background-color: #ffa8a8;
  font-family: "lemon-font";
  color: white;
}

.sys-btn {
  margin: 10px 5px;
  cursor: pointer;
  width: 10%;
  height: 25%;
  margin: 5px;
  border: 0;
  transition: 0.2s;
}
