body {
  margin: 0;
  font-family: "lemon-font";
  background: #ffffff;
}

@font-face {
  font-family: "lemon-font";
  src: url("https://static.wixstatic.com/ufonts/5bb3a3_9376787887694d50bfe0da75a316af47/woff2/file.woff2");
}
